<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LACKP</title>
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>
  <h1> The LACKP Homepage </h1>
  <h2><a href="/teams">Click Here For The Complete List of Teams</a></h2>
  <h2><a href="/positions">Click Here For The Complete List of Positons</a></h2>

</body>
</html>
