<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Positons</title>
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>
  <h2> The LACKP Positions List </h2>
  <ul>
    <% ["Catcher", "Pitcher", "1st Base", "2nd Base", "3rd Base", "Shortstop",
       "Right Field", "Center Field", "Left Field"].each do |position| %>
    <li><a href="/positions/<%= position %>"><%= position %></a></li>
    <% end %>
  </ul>

  <a href="/teams">Click Here For The List of Teams</a>
  <br>
  <br>
  <a href="/">Return To The Homepage</a>


</body>
</html>
