<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LACKP - <%= @team_name %></title>
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>
  <h1> Team-Home Page of The <%= @team_name %> </h1>

  <ul>
  <% @players.each do |player| %>
    <li><%= "#{player.position}: #{player.name}" %></li>
    <% end %>
  </ul>
  <a href="/teams">Return To Teams</a>
  <br>
  <br>
  <a href="/">Return To The Homepage</a>
</body>
</html>
